/.idea
/googlesheets
/venv
config.py
/googlesheets/keys.json
/googlesheets/spreatsheetid.txt
/img/roulette/roulettesaved.png
/cogs/__pycache__
/__pycache__
/img/milestone_changed.png
/img/santorin
/img/20220613_123558.mp4